.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselItem {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 12px;
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity, scale;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease-in-out, opacity 0.5s ease-in-out;
}

.carouselItemHead {
  border-radius: 50%;
  background-color: #d7f7fc;
  width: 90px;
  height: 90px;
  padding: 14px;
  position: relative;
  margin-right: -45px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.carouselItemBody {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 20px 16px 70px;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
}